body {
    margin: 0 auto;
    max-width: 75%;
}

nav {
    float: right;
    margin: 16px;
}

.page-title {
    display: inline-block;
    margin: 16px;
}

footer {
    text-align: center;
}